/* Styles for tablets */
@media screen and (min-width: 479px) and (max-width: 769px) {
  /* ---------------------footer------------------- */

  #footer-box {
    flex-direction: column;
    max-height: fit-content;
  }

  #footer-right,
  #footer-left {
    width: 90vw;
    height: 31vh;
    margin-top: 2rem;
  }
  #footer-right {
    margin-bottom: 1rem;
  }
  .leaflet-container {
    margin: 0;
  }
  /* -------------section5------------- */
  .ul-container ul li {
    line-height: 5rem;
  }
  /* border: 1px solid red; */
  /* --------------sec3---------------------------- */
  #ul-box ul {
    font-size: 3vw;
  }
  #ul-box li {
    border-bottom: 1px dotted gold;
    padding: 4vw 0 5vw;
    line-height: 5.7vw;
    filter: none;
  }
  #ul-box li:last-child {
    border-bottom: none;
  }
  /* ----------------sec6-carousel--------------------- */
  .carousel-box {
    gap: 4vw;
  }
  .bottle p,
  .carousel .prev,
  .carousel .next {
    display: none;
  }

  /* -----------------------------------WINES------------------------------------------------ */

  .wines-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .wine-card {
    width: 23.5vw;
  }

  /* --------------------Boards------------------------- */
  #boards-title {
    padding-bottom: 0;
    /* border: 1px solid red; */
  }

  /*?????????????????????????????????????????????????????????? */
  .all-box img:hover {
    transform: none;
  }

  .food-item {
    flex-direction: column;
    align-items: center;
  }
  .food-item h4 {
    margin-bottom: 3vw;
  }

  .food-item img:hover {
    transform: none;
  }

  .food-item p {
    font-size: 0.7rem;
  }

  .row {
    gap: 5px;
    max-width: 95vw;
  }

  .column img {
    margin-top: 5px;
  }

  /* --------------------contact-------------- */

  .news-letter {
    width: 90vw;
    margin: 6rem auto 0.7rem;
  }
  #message {
    width: 99%;
    height: 30vh;
    outline: none;
    resize: none;
  }

  .news-form #email1 {
    height: 1.5rem;
    font-size: small;
  }
}
