.home-test-badge {
  position: absolute;
  top: 6rem;
  left: 50vw;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
}
.modal-test-badge {
  position: absolute;
  top: -2.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
}
